<li>
  <span class="title">
    <a href="<%= node.id %>.html" title="<%= node.id %>"><%= node.id %></a>
  </span>
</li>
<ul class="method-names">
  <%= for doc <- node.docs do  %>
    <li>
      <span class="object_link">
        <a href="<%= node.id %>.html#<%=h doc.id %>"><%=h doc.id %></a>
      </span>
    </li>
  <% end %>
</ul>
